// Variables

/* COLORS */
$french-violet: #831adcff;
$black: #000000ff;
$quick-silver: #a7a6a6ff;
$white: #ffffffff;
$dark-violet: #9913e1ff;
$platinum: #ebebebff;

/* FONTS */
$font-primary: 'Monda', sans-serif;
$font-secondary: 'Staatliches', cursive;